// Base
@use "base/base";
@use "base/typography";

// Layout
@use "layout/container";
@use "layout/blocks";
@use "layout/gform";


.is-root-container {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);

	.wp-block.alignfull {
		margin-left: calc(-1 * var(--container-padding)) !important;
		margin-right: calc(-1 * var(--container-padding)) !important;
	}
}
