// Filter

.c-filter {
	margin-bottom: 1em;
	display: flex;

	button {
		border: 1px solid purple;
		background: none;
		padding: 1em;
		color: purple;

		&.active {
			background: purple;
			color: #fff;
		}
	}
}

// Target

.c-filter-items {
	& > div {
		&.hidden {
			display: none;
		}
	}
}