// Tab view

.c-tab-view {
	margin-top: 2em;

	// Tab nav
	& > .tab-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		& > li {
			display: inline-block;
			cursor: pointer;
			color: #fff;

			&:not(:first-of-type) {
				a {
					border-left: none;
				}
			}

			a {
				color: #fff;
				padding: .5em 2em;
				display: block;
				border: 1px solid var(--c-dark);
				background-color: purple;

				&:hover {
					text-decoration: none;
				}

				&.active {
					background-color: #fff;
					border-bottom-color: #fff;
					color: var(--c-dark);
				}
			}
		}
	}

	// Tab content
	& > .tab-content {
		display: none;
		padding: 2em;
		border: 1px solid var(--c-dark);
		margin-top: -1px;

		&.active {
			display: block;
		}
	}
}

