@use "abstracts" as *;

.wp-block-buttons {
	.wp-block-button {
		&.is-style-outline {
			.wp-block-button__link {
				padding: .7em 2em;
				border-width: 1px;
				background: none;
				color: var(--color-theme);

				&:hover, &:focus-visible {
					background: var(--color-dark);
					border-color: var(--color-dark);
					color: var(--color-light);
				}
			}
		}

		&.is-style-dark {
			.wp-block-button__link {
				background-color: var(--color-dark);
				border-color: var(--color-dark);

				&:hover, &:focus-visible {
					background: var(--color-theme);
					border-color: var(--color-theme);
					color: var(--color-light);
				}
			}
		}
	}
}

// Button
.wp-block-buttons .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.gform_button,
.c-button {
	font-size: var(--font-size-0);
	padding: .7em 2em;
	text-decoration: none;
	background: var(--color-theme);
	border: 1px solid var(--color-theme);
	color: var(--color-light);
	border-radius: 3px;
	line-height: 1.1;
	cursor: pointer;
	transition: background .2s linear, border .2s linear, color .2s linear;

	&:hover, &:focus-visible {
		background: var(--color-dark);
		border-color: var(--color-dark);
		color: var(--color-light);
	}
}