@use "abstracts" as *;

.wp-block-buttons {
	.wp-block-button {
		&.is-style-dark {
			.wp-block-button__link {
				--color-button-background: var(--color-dark);
				--color-button-border: var(--color-dark);
				--color-button-hover-background: var(--color-primary);
				--color-button-hover-border: var(--color-primary);
			}
		}

		&.is-style-border {
			.wp-block-button__link {
				--color-button-text: var(--color-primary);
				--color-button-background: none;
				--color-button-hover-border: var(--color-dark);
			}
		}
	}

	.wp-block-button__link {
		@include button();
	}
}
