@use "abstracts" as *;

.wp-block-buttons {
	.wp-block-button {
		&.is-style-dark {
			.wp-block-button__link {
				--color-button-background: var(--color-dark);
				--color-button-border: var(--color-dark);
				--color-button-hover-background: var(--color-theme);
				--color-button-hover-border: var(--color-theme);
			}
		}

		&.is-style-border {
			.wp-block-button__link {
				--color-button-text: var(--color-theme);
				--color-button-background: none;
				--color-button-hover-border: var(--color-dark);
			}
		}
	}
}

// Button
.wp-block-buttons .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.gform_button,
.c-button {
	font-size: var(--font-size-0);
	padding: .7em 2em;
	text-decoration: none;
	background: var(--color-button-background);
	border: 2px solid var(--color-button-border);
	color: var(--color-button-text);
	border-radius: 3px;
	line-height: 1.1;
	cursor: pointer;
	transition: background .2s linear, border .2s linear, color .2s linear;

	&:hover, &:focus-visible {
		background: var(--color-button-hover-background);
		border-color: var(--color-button-hover-border);
		color: var(--color-button-hover-text);
	}
}
