@use "abstracts" as *;

// Image
.wp-block-image {
	figcaption {
		margin-top: 1em;
		text-align: center;
	}
}

// Date
.wp-block-post-date {
	font-size: var(--font-size-0);
}

// Quote
.wp-block-quote {
	border-left: 2px solid var(--theme);
	padding-left: 1.5em;

	p {
		color: var(--theme);
		font-size: var(--font-size-2);
		line-height: 1.4;
		margin-top: 0;
	}

	cite {
		font-style: normal;
		font-size: var(--font-size-0);
		text-transform: none;
	}
}

// Columns
.wp-block-columns {
	.wp-block-column {
		& > * {
			margin-top: var(--block-margin);
		}

		& > :first-child {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

// Table
.wp-block-table {
	overflow-y: hidden;
	font-size: 1em;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		border-bottom: none;
	}

	tfoot {
		border-top: none;

		td {
			border-top: 1px solid var(--dark);
		}
	}

	td, th {
		padding: 1em;
		border: none;
		border: 1px solid #ddd;
	}

	th {
		text-align: left;
		background: var(--theme);
		color: #fff;
		font-weight: 400;
		border-color: var(--theme);
	}

	figcaption {
		margin-top: 1em;
		text-align: center;
	}
}

// Buttons
.wp-block-buttons {
	.wp-block-button {
		&.is-style-outline {
			.wp-block-button__link {
				padding: .7em 2em;
				border-width: 1px;
				background: none;
				color: var(--theme);

				&:hover, &:focus {
					background: var(--dark);
					border-color: var(--dark);
					color: var(--light);
				}
			}
		}

		&.is-style-dark {
			.wp-block-button__link {
				background-color: var(--dark);
				border-color: var(--dark);

				&:hover, &:focus {
					background: var(--theme);
					border-color: var(--theme);
					color: var(--light);
				}
			}
		}
	}
}

// Button
.wp-block-buttons .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.gform_button,
.c-button {
	font-size: var(--font-size-0);
	padding: .7em 2em;
	text-decoration: none;
	background: var(--theme);
	border: 1px solid var(--theme);
	color: var(--light);
	border-radius: 3px;
	line-height: 1.1;
	cursor: pointer;
	transition: background .2s linear, border .2s linear, color .2s linear;

	&:hover, &:focus {
		background: var(--dark);
		border-color: var(--dark);
		color: var(--light);
	}
}

// Group
.wp-block-group {
	& > * {
		margin-top: var(--block-margin);
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}

	&.background {
		& > :first-child {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		background: var(--gray);
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		padding-top: var(--block-margin-medium);
		padding-bottom: var(--block-margin-medium);
	}
}

// File
.wp-block-file {
	font-size: 1em;

	a {
		text-decoration: none;
		font-size: 1rem;
		opacity: 1;

		&:first-of-type {
			margin-right: 1.5em;
		}
	}

	.wp-block-file__button {
		margin-left: 0;
		display: inline-block;

		@media (max-width: $small-max) {
			margin-top: 1em;
		}
	}
}

// Cover
.wp-block-cover {
	width: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);

	.wp-block-cover__inner-container {
		& > * {
			max-width: var(--container);
			margin-left: auto;
			margin-right: auto;
		}

		.alignwide {
			max-width: var(--container, var(--container-wide));
		}

		.alignfull {
			max-width: none;
			margin-left: calc(-1 * var(--container-padding));
			margin-right: calc(-1 * var(--container-padding));
		}
	}
}

// Separator
.wp-block-separator {
	border-color: var(--theme);
}

// Code
.wp-block-code {
	padding: 1em;
	background: var(--gray);
	border-radius: 0;
	border: none;
	line-height: 1.2;
}

// Synced pattern
.wp-block-block {
	max-width: none !important;
}
