@use "abstracts" as *;

// Image
.wp-block-image {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	figcaption {
		margin-top: 1em;
		text-align: center;
	}
}

// Post featured image
.wp-block-post-featured-image {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Date
.wp-block-post-date {
	font-size: var(--font-size-0);
	font-weight: 700;
}

// Quote
.wp-block-quote {
	border-left: 2px solid var(--theme);
	padding-left: 1.5em !important;
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	p {
		color: var(--theme);
		font-size: var(--font-size-2);
		line-height: 1.4;
		margin-top: 0;
	}

	cite, .wp-block-quote__citation {
		font-style: normal;
		font-size: var(--font-size-0);
		text-transform: none;
	}
}

// Columns
.wp-block-columns {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	.wp-block-column {
		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}
}

// Table
.wp-block-table {
	overflow-y: hidden;
	font-size: 1em;
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	table {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		border-bottom: none;
	}

	tfoot {
		border-top: none;

		td {
			border-top: 1px solid var(--dark);
		}
	}

	td, th {
		padding: 1em;
		border: none;
		border: 1px solid #ddd;
	}

	th {
		text-align: left;
		background: var(--theme);
		color: #fff;
		font-weight: 400;
		border-color: var(--theme);
	}

	figcaption {
		margin-top: 1em;
		text-align: center;
	}
}

// Buttons
.wp-block-buttons {
	margin-top: var(--block-margin-small);
	margin-bottom: var(--block-margin-small);

	.wp-block-button {
		.wp-block-button__link {
			@include button();
		}

		&.is-style-outline {
			.wp-block-button__link {
				background: none;
				color: var(--theme);

				&:hover, &:focus {
					background: var(--dark);
					color: var(--light);
				}
			}
		}
	}
}

// Group
.wp-block-group {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	&.has-background {
		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}

		background: var(--gray);
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		padding-top: var(--block-margin);
		padding-bottom: var(--block-margin);
	}
}

// File
.wp-block-file {
	font-size: 1em;
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	a, .wp-block-file__textlink {
		color: var(--dark);
		text-decoration: none;
		font-size: 1rem;

		&:first-of-type {
			margin-right: 1.5em;
			color: var(--theme);
		}
	}

	.wp-block-file__button {
		@include button();

		opacity: 1 !important;
		margin-left: 0;

		@media (max-width: $small-max) {
			margin-top: 1em;
		}
	}
}

// Cover
.wp-block-cover {
	width: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);

	.wp-block-cover__inner-container {
		& > * {
			@include container(var(--container));
		}

		.alignwide {
			max-width: var(--container, var(--container-wide));
		}

		.alignfull {
			max-width: none;
			margin-left: calc(-1 * var(--container-padding));
			margin-right: calc(-1 * var(--container-padding));
		}
	}
}

// Separator
.wp-block-separator {
	border-color: var(--theme);
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Code
.wp-block-code {
	padding: 1em;
	background: var(--gray);
	border-radius: 0;
	border: none;
	line-height: 1.2;
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Embed

.wp-block-embed {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Shortcode

.wp-block-shortcode {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Video

.wp-block-video {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

// Audio

.wp-block-audio {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}
