@use "abstracts" as *;

.wp-block-group {
	& > * {
		margin-top: var(--block-margin);
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}

	&.section {
		& > :first-child {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		background: var(--color-gray);
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		padding-top: var(--block-margin-medium);
		padding-bottom: var(--block-margin-medium);
	}
}