.wp-block-fiesta-hero {
	margin-top: 0;
	margin-bottom: var(--block-margin);
	position: relative;
	text-align: center;

	.text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 1.5em;
		color: var(--light);
		display: flex;
		align-items: center;

		& > div {
			@include container(rem(800px));
		}
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: grayscale(70%) opacity(12%);
	}

	h1 {
		margin: 0;
		font-size: calc(#{em(44px)} + 2vw);
	}

	p {
		margin: 1.2em 0 0 0;
		font-size: calc(#{em(20px)} + .5vw);
	}

	a {
		text-decoration: underline;
		color: var(--light);
	}

	// Plain
	&.plain {
		padding-top: calc(var(--header-height-small) + #{em(50px)});

		@media (min-width: $desktop-nav) {
			padding-top: calc(var(--header-height) + #{em(50px)});
		}

		.text {
			position: static;
			color: var(--dark);
		}
	}

	// Image
	&.image {
		background: var(--theme);
		padding-bottom: 44%;
		min-height: em(520px);
	}
}
