.wp-block-fiesta-sample {
	text-align: center;
	background: var(--theme);
	padding: rem(50px) 0;
	font-size: 1rem;

	@include block-margin();

	h2 {
		margin-top: 0;
	}

	h2, p {
		color: var(--light);

		@include container(var(--container), true);
	}

	.wp-block-buttons {
		justify-content: center;
	}

	.wp-block-button__link {
		background: var(--light);
		color: var(--theme);
	}

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}
