@use "abstracts" as *;

.c-article {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);

	& > * {
		@include container(var(--container, var(--container-default)));
	}

	.alignwide {
		max-width: var(--container, var(--container-wide));
	}

	.alignfull {
		max-width: none;
		margin-left: calc(-1 * var(--container-padding));
		margin-right: calc(-1 * var(--container-padding));
	}
}
