// Common
h2, h3, h4 {
	color: var(--c-theme);
	margin-top: 2em;
	margin-bottom: .5em;
	line-height: 1.2;
}

p, li {
	a:link, a:visited, a:hover, a:active {
		text-decoration: underline;
	}
}

ul, ol {
	line-height: 1.6;
	font-size: rem(19px);
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	li {
		margin-left: 2rem;
		padding-left: .5rem;

		&::marker {
			color: var(--c-theme);
		}
	}
}

code {
	background: #eee;
}

figcaption {
	@include caption();
}

// Image
.wp-block-image {
	padding: 0;

	@include block-margin();

	img {
		width: 100%;
	}
}

// Quote
.wp-block-quote {
	text-align: center;
	border: none;

	@include block-margin();

	p {
		color: var(--c-theme);
		font-size: rem(30px);
		margin: 1em 0;

		@include container(rem(650px));
	}

	cite, .wp-block-quote__citation {
		font-style: normal;
		font-size: 1rem;
		color: var(--c-dark);
		opacity: .7;
	}
}

// Columns
.wp-block-columns {
	@include block-margin();

	.wp-block-column {
		@media (max-width: $medium-max) {
			flex-basis: 100% !important;

			&:not(:last-of-type) {
				margin-bottom: 3em;
			}
		}

		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}
}

// Embed
.wp-block-embed {
	@include block-margin();

	&.wp-block-embed-youtube, &.wp-block-embed-vimeo {
		padding: 0;
	}
}

// Table
.wp-block-table {
	overflow-y: hidden;
	font-size: 1rem;
	padding: 0;

	@include container-padding();

	@include block-margin();

	table {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		border-bottom: none;
	}

	tfoot {
		border-top: none;

		td {
			border-top: 1px solid var(--c-dark);
		}
	}

	th {
		text-align: left;
		background: var(--c-theme);
		color: #fff;
		font-weight: 400;
	}

	td, th {
		padding: 1em;
		border: none;
		border-bottom: 1px solid #eee;
	}
}

// Buttons
.wp-block-buttons {
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	.wp-block-button {
		&.is-style-outline {
			.wp-block-button__link {
				background: #fff;
				color: var(--c-theme);

				&:hover {
					background: var(--c-theme);
					color: #fff;
				}
			}
		}
	}

	.wp-block-button__link {
		@include button();
	}
}

// Group
.wp-block-group {
	padding: 0;

	@include block-margin();

	.wp-block-group__inner-container {
		background: #eee;
		padding-top: rem(50px);
		padding-bottom: rem(50px);

		@include container-padding();

		& > * {
			@include container(var(--container));
		}

		.alignwide {
			max-width: var(--container-wide);
		}

		.alignfull {
			max-width: none;
		}

		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}
}

// File
.wp-block-file {
	font-size: 1rem;

	@include block-margin();

	@include container-padding();

	a {
		color: var(--c-dark);
	}

	.wp-block-file__button {
		@include button();

		@media (max-width: $small-max) {
			margin-top: 1em;
		}
	}
}

// Media text
.wp-block-media-text {
	padding: 0;

	@include block-margin();

	@media (max-width: $medium-max) {
		display: block;
	}

	.wp-block-media-text__content {
		& > :first-child {
			margin-top: 0;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-media-text__media {
		margin: 0 0 2em 0;

		@media (min-width: $large) {
			margin: 0;
		}
	}

	h2 {
		margin-top: 0;
	}
}

// Gallery
.wp-block-gallery {
	padding: 0;

	@include block-margin();

	ul {
		width: 100%;
		margin: 0;

		li {
			padding-left: 0;
			margin-left: 0;
		}
	}
}

// Cover
.wp-block-cover {
	padding: 0;

	@include block-margin();

	p {
		font-size: rem(48px);
		line-height: 1.4;
	}
}

// Separator
.wp-block-separator {
	border: none;
	background: var(--c-theme);
	height: 1px;
	max-width: rem(200px) !important;
	padding: 0;

	@include block-margin();
}

// Social links
.wp-block-social-links {
	li {
		padding-left: 0;
		margin-left: 0;
	}

	&:not(.is-style-logos-only) {
		.wp-social-link {
			background: var(--c-theme);
		}
	}
}

// Sample custom block
.wp-block-fiesta-sample-block {
	text-align: center;
	background: var(--c-theme);
	padding: rem(50px) 0;

	@include block-margin();

	h2, p {
		color: #fff;

		@include container(var(--container), true);
	}

	h2 {
		margin-top: 0;
	}

	.wp-block-button__link {
		background: #fff;
		color: var(--c-theme);

		&:hover {
			color: #fff;
		}
	}

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}
