@use "abstracts" as *;

.container {
	max-width: var(--container-wide);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	box-sizing: content-box;
}
