// Header

.c-header {
	height: $header-height-small;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	transition: height .2s linear, transform .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
	padding-left: 1.5em;

	@include min($desktop-nav) {
		padding-left: 3em;
		padding-right: 3em;
		height: $header-height;
	}

	& > .inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	// Logo
	.logo {
		// margin-left: 3em;
		transition: top .2s ease-out;

		@include min($desktop-nav) {
			top: 2em;
			left: 3em;
		}

		svg {
			transition: width .2s ease-out, height .2s ease-out;
			width: em(80px);
			height: em(23px);

			@include min($desktop-nav) {
				width: em(120px);
				height: em(34px);
			}
		}
	}

	// Hidden (header is hidden when scrolling down)
	&.m-hidden {
		// transform: translateY(-$header-height);	
	}

	// Small (header is visible but smaller when scrolling)
	&.m-small {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		background: #fff;
		height: $header-height-small;

		.logo {
			svg {
				width: em(80px);
				height: em(23px);

				& > path {
					fill: $c-dark;
				}
			}
		}

		.c-navigation {
			@include min($desktop-nav) {
				a {
					color: $c-dark;

					& > span {
						&:after {
							border-bottom-color: $c-dark;
						}	
					}
					
				}
			}

			.nav-button {
				.line {
					background: $c-dark;
				}
			}
		}
	}

	// Nav close
	.nav-close {
		@include max($mobile-nav-max) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.5);
			opacity: 0;
			visibility: hidden;
			transition: visibility 0s .5s, left 0s .5s, opacity .5s linear;
		}
	}

	// Skip link
	.skip-link {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;

		a {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: none;
			background: #fff;
			padding: 1em;
			display: inline-block;

			&:focus {
				position: static;
				width: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				clip: auto;
			}
		}
	}
}