// Header

.c-header {
	& > .inner {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: var(--theme);
		height: var(--header-height-small);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		z-index: 10;
		padding-left: 1.5em;
		padding-right: 1.5em;
		transition: height .2s linear, transform .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;

		@media (min-width: $desktop-nav) {
			padding-left: 3em;
			padding-right: 3em;
			height: var(--header-height);
		}

		&::before {
			@media (max-width: $mobile-nav-max) {
				content: "";
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.5);
				opacity: 0;
				visibility: hidden;
				transition: visibility 0s .5s, left 0s .5s, opacity .5s linear;
			}
		}
	}

	// Logo
	.logo {
		transition: top .2s ease-out;
		color: #fff;

		svg {
			transition: width .2s ease-out, height .2s ease-out;
			width: em(80px);
			height: em(23px);

			@media (min-width: $desktop-nav) {
				width: em(120px);
				height: em(34px);
			}
		}
	}

	// Small (header is visible but smaller when scrolling)
	&.small {
		& > .inner {
			background: var(--theme);
			height: var(--header-height-small);
		}

		.logo {
			svg {
				width: em(80px);
				height: em(23px);
			}
		}
	}

	// Skip link
	.skip-link {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
		z-index: 20;

		a {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: none;
			background: #fff;
			padding: 1em 3em;
			display: inline-block;

			&:focus {
				position: static;
				width: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				clip: auto;
			}
		}
	}
}

body.page-template-index.has-featured-image {
	.c-header:not(.small) {
		& > .inner {
			background: none;
		}
	}
}
