// Main nav

.c-navigation {
	@media (max-width: $mobile-nav-max) {
		display: flex;
		justify-content: flex-end;
	}

	& > ul {
		text-align: right;

		// Mobile
		@media (max-width: $mobile-nav-max) {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 1;
			background: #fff;
			width: 100%;
			max-width: 90%;
			height: 100%;
			padding: em(120px) 0 em(40px) 2em;
			margin-right: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			visibility: hidden;
			transform: translateX(100%);
			text-align: left;
		}
	}

	li {
		position: relative;

		@media (min-width: $desktop-nav) {
			display: inline-block;
			margin-bottom: 0;
			padding: 0 1em;
		}

		// Parent (has child pages)
		&.menu-item-has-children {
			@media (min-width: $desktop-nav) {
				padding-right: 2em;
			}

			// Second level
			& > ul {
				display: none;
				position: relative;

				@media (min-width: $desktop-nav) {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					height: auto !important;
					box-shadow: 0 0 15px rgba(0,0,0,.2);
					background: #fff;
					text-align: center;
				}

				&::before {
					content: "";
					width: 0; 
					height: 0; 
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
					position: absolute;
					left: 50%;
					top: -7px;
					margin-left: -4px;

					@include show($desktop-nav);
				}

				li {
					display: block;
					padding-left: 0;
					padding-right: 0;
					white-space: nowrap;
					position: relative;
				}

				a {
					font-size: em(16px);
					color: var(--c-dark);
					padding: 1em 2em;
					text-transform: none;

					&:hover {
						opacity: 1;
						background: #eee;
					}

					& > span {
						&::after {
							border-color: var(--c-theme);
						}
					}
				}

				// Third level
				ul {
					@media (min-width: $desktop-nav) {
						left: 100%;
						top: 0;
						transform: none;						
					}

					&::before {
						display: none !important;
					}

					a {
						@media (max-width: $mobile-nav-max) {
							padding-left: 4em;
						}
					}

					// Right
					&.right {
						left: auto;
						right: 100%;
						transform: none;
					}

					// Right
					&.left {
						left: 100%;
						transform: none;
					}
				}

				.subnav-button {
					svg {
						@media (min-width: $desktop-nav) {
							transform: rotate(-90deg);
						}
					}

					path {
						fill: var(--c-dark);
					}
				}

				// Active
				&.active {
					@media (max-width: $mobile-nav-max) {
						display: block;
					}
				}

				// Right
				&.right {
					left: auto;
					right: 0;
					transform: none;

					&::before {
						left: auto;
						right: 3em;
					}
				}

				// Right
				&.left {
					left: 0;
					transform: none;
				}
			}

			&:hover, &.hover {
				@media (min-width: $desktop-nav) {
					& > ul {
						display: block;
					}
				}
			}

			&.hover {
				& > .subnav-button {
					svg {
						@media (max-width: $mobile-nav-max) {
							transform: rotate(180deg);
						}
					}
				}
			}
		}

		// Current page
		&.current_page_item {
			& > a > span {
				position: relative;

				&::after {
					width: 100%;
				}
			}
		}
	}

	a {
		display: block;
		padding: 1em 0;
		// text-transform: uppercase;
		transition: opacity .2s linear;
		color: var(--c-dark);

		@media (min-width: $desktop-nav) {
			color: #fff;
		}

		&:hover {
			text-decoration: none;
			opacity: .7;
		}

		@media (max-width: $mobile-nav-max) {
			font-size: em(20px);
			padding: 1em 0;
		}

		& > span {
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 0;
				border-bottom: 1px solid var(--c-dark);
				position: absolute;
				left: 0;
				top: 1.4em;
				transition: width .2s ease-out;

				@media (min-width: $desktop-nav) {
					border-color: #fff;
				}
			}
		}
	}

	// Nav button
	.nav-button {
		cursor: pointer;
		border: none;
		background: none;
		width: rem(44px);
		height: rem(44px);
		z-index: 2;
		transition: top .2s ease-out;
		margin-right: 1em;

		@media (min-width: $desktop-nav) {
			top: em(25px);
		}

		@include hide($desktop-nav);

		.line {
			display: block;
			position: relative;
			top: 0;
			width: 30px;
			height: 3px;
			margin: 0 auto;
			margin-bottom: 5px;
			background-color: #fff;
			transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;

			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
	}

	// Sub nav toggle button
	.subnav-button {
		position: absolute;
		right: .5em;
		top: .3em;
		width: rem(44px);
		height: rem(44px);
		text-align: center;
		cursor: pointer;
		font-size: em(26px);
		background: none;
		border: none;
		// color: #fff;
		padding: 0;

		@media (min-width: $desktop-nav) {
			width: rem(22px);
			height: rem(22px);
			right: .2em;
			top: 50%;
			margin-top: rem(-11px);
		}

		svg {
			display: block;
			margin: 0 auto;
			transition: transform .2s ease-out;

			path {
				fill: var(--c-dark);

				@media (min-width: $desktop-nav) {
					fill: #fff;
				}
			}
		}
	}
}

// Nav open

html.nav-open {
	overflow: hidden;

	.c-navigation {
		& > ul {
			transform: none;
			visibility: visible;
		}
	}

	.c-header {
		.nav-close {
			left: 0;
			opacity: 1;
			visibility: visible;
			transition: opacity .25s linear;
		}

		.nav-button {
			.line {
				width: rem(26px);
				background: var(--c-theme) !important;
				transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;

				&:nth-of-type(1) {
					top: 8px;
					transform: rotate(45deg);
				}
				
				&:nth-of-type(2) {
					opacity: 0;
				}
				
				&:nth-of-type(3) {
					top: -8px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

// Transition
html.nav-open-transition {
	.c-navigation {
		& > ul {
			transition: opacity .5s linear, transform .5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s .5s;
		}
	}

	&.nav-open {
		.c-navigation {
			& > ul {
				transition: opacity .5s linear, transform .5s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}		
	}
}
