// Main nav

.c-navigation {
	@media (max-width: $mobile-nav-max) {
		display: flex;
		justify-content: flex-end;
	}

	& > div {
		@media (min-width: $desktop-nav) {
			display: flex;
			align-items: center;
		}

		// Mobile
		@media (max-width: $mobile-nav-max) {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 1;
			background: #fff;
			width: 100%;
			max-width: 90%;
			height: 100%;
			padding: em(100px) 0 0 0;
			margin-right: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			visibility: hidden;
			transform: translateX(100%);
			text-align: center;
			margin-bottom: 2em;
		}
	}

	li {
		position: relative;

		@media (min-width: $desktop-nav) {
			display: inline-block;
			margin-bottom: 0;
			padding: 0 1em;
		}

		// Parent (has child pages)
		&.menu-item-has-children {
			@media (min-width: $desktop-nav) {
				padding-right: 2em;
			}

			// Second level
			& > ul {
				position: relative;
				height: 0px;
				transition: height .2s ease-out;
				overflow: hidden;
				visibility: hidden;
				background: #f2f2f3;

				@media (min-width: $desktop-nav) {
					display: none;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					height: auto !important;
					visibility: visible !important;
					box-shadow: 0 0 15px rgba(0,0,0,.2);
					background: #fff;
					text-align: center;
					overflow: visible;
				}

				&::before {
					content: "";
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
					position: absolute;
					left: 50%;
					top: -7px;
					margin-left: -4px;

					@include show($desktop-nav);
				}

				li {
					display: block;
					padding-left: 0;
					padding-right: 0;
					position: relative;
					line-height: 1.3;

					@media (min-width: $desktop-nav) {
						white-space: nowrap;
					}

					&.current_page_item {
						& > a {
							color: var(--theme);
						}
					}
				}

				a {
					font-size: em(16px);
					color: var(--dark);
					padding: .8em 2em;
					text-transform: none;

					&:hover {
						background: #eee;
						opacity: 1;
					}

					& > span {
						&::after {
							border-color: var(--theme);
						}
					}
				}

				// Third level
				ul {
					@media (min-width: $desktop-nav) {
						left: 100%;
						top: 0;
						transform: none;
					}

					&::before {
						display: none !important;
					}

					// Right
					&.right {
						@media (min-width: $desktop-nav) {
							left: auto;
							right: 100%;
							transform: none;
						}
					}

					// Right
					&.left {
						@media (min-width: $desktop-nav) {
							left: 100%;
							transform: none;
						}
					}
				}

				.subnav-button {
					svg {
						@media (min-width: $desktop-nav) {
							transform: rotate(-90deg);
						}
					}

					path {
						fill: var(--dark);
					}
				}

				// Active
				&.active {
					display: block;
					visibility: visible;
					height: auto;
				}

				&.active-mobile {
					@media (max-width: $mobile-nav-max) {
						display: block;
						visibility: visible;
						height: auto;
					}
				}

				// Right
				&.right {
					@media (min-width: $desktop-nav) {
						left: auto;
						right: 0;
						transform: none;

						&::before {
							left: auto;
							right: 3em;
						}
					}
				}

				// Left
				&.left {
					@media (min-width: $desktop-nav) {
						left: 0;
						transform: none;
					}
				}
			}

			&:hover, &.hover {
				@media (min-width: $desktop-nav) {
					& > ul {
						display: block;
						visibility: visible;
					}
				}
			}
		}

		// Current page
		&.current_page_item {
			& > a > span {
				position: relative;

				&::after {
					width: 100%;
				}
			}
		}

		a {
			display: block;
			padding: 1em 0;
			transition: opacity .2s linear;
			color: var(--dark);

			@media (min-width: $desktop-nav) {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
				opacity: .7;
			}

			@media (max-width: $mobile-nav-max) {
				font-size: em(20px);
				padding: 1em 0;
			}

			& > span {
				position: relative;

				&::after {
					content: "";
					display: block;
					width: 0;
					border-bottom: 1px solid var(--dark);
					position: absolute;
					left: 0;
					top: 1.4em;
					transition: width .2s ease-out;

					@media (min-width: $desktop-nav) {
						border-color: #fff;
					}
				}
			}
		}
	}

	// Nav button
	.nav-button {
		cursor: pointer;
		border: none;
		background: none;
		width: rem(44px);
		height: rem(44px);
		z-index: 2;

		@include hide($desktop-nav);

		.line {
			display: block;
			position: relative;
			top: 0;
			width: 30px;
			height: 3px;
			margin: 0 auto;
			margin-bottom: 5px;
			background-color: #fff;
			transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;

			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
	}

	// Sub nav toggle button
	.subnav-button {
		position: absolute;
		right: .5em;
		top: .3em;
		width: rem(44px);
		height: rem(44px);
		text-align: center;
		cursor: pointer;
		font-size: em(26px);
		background: none;
		border: none;
		padding: 0;

		@media (min-width: $desktop-nav) {
			width: rem(22px);
			height: rem(22px);
			right: .2em;
			top: 50%;
			margin-top: rem(-11px);
		}

		svg {
			display: block;
			margin: 0 auto;
			transition: transform .2s ease-out;

			path {
				fill: var(--dark);

				@media (min-width: $desktop-nav) {
					fill: #fff;
				}
			}
		}

		&.active {
			svg {
				@media (max-width: $mobile-nav-max) {
					transform: rotate(180deg);
				}
			}
		}
	}

	.social {
		margin-top: 3em;

		@media (min-width: $desktop-nav) {
			margin-top: 0;
			margin-left: 3em;
		}
	}
}

// Nav open

html.nav-open {
	@media (max-width: $mobile-nav-max) {
		overflow: hidden;

		.c-navigation {
			& > div {
				transform: none;
				visibility: visible;
			}

			.social {
				path {
					fill: var(--theme);
				}
			}
		}

		.c-header {
			& > .inner {
				&::before {
					left: 0;
					opacity: 1;
					visibility: visible;
					transition: opacity .25s linear;
				}
			}

			.nav-button {
				.line {
					width: rem(26px);
					background: var(--theme);
					transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;

					&:nth-of-type(1) {
						top: 8px;
						transform: rotate(45deg);
					}

					&:nth-of-type(2) {
						opacity: 0;
					}

					&:nth-of-type(3) {
						top: -8px;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}

// Transition

html.nav-open-transition {
	.c-navigation {
		& > div {
			transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s .5s;
		}
	}

	&.nav-open {
		.c-navigation {
			& > div {
				transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
	}
}
