// Main nav

.c-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > div {
		@media (min-width: $desktop-nav) {
			display: flex;
			align-items: center;
		}

		// Mobile
		@media (max-width: $mobile-nav-max) {
			position: fixed;
			top: var(--wp-admin--admin-bar--height, 0);
			right: 0;
			z-index: 1;
			background: var(--light);
			width: 100%;
			max-width: 90%;
			height: 100%;
			padding: em(100px) 0 0 0;
			margin-right: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			visibility: hidden;
			transform: translateX(100%);
		}

		& > ul {
			@media (min-width: $desktop-nav) {
				display: flex;
			}
		}
	}

	li {
		position: relative;

		@media (min-width: $desktop-nav) {
			padding: 0 1em;
		}

		// Parent (has child pages)
		&.menu-item-has-children {
			@media (min-width: $desktop-nav) {
				display: flex;
				align-items: center;
			}

			// Second level
			& > ul {
				position: relative;
				height: 0px;
				overflow: hidden;
				visibility: hidden;
				background: #f2f2f3;

				@media (min-width: $desktop-nav) {
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					box-shadow: 0 0 15px rgba(0,0,0,.2);
					background: var(--light);
					overflow: visible;
					transition: opacity 0s 0s linear, visibility 0s 0s linear;
					opacity: 0;
				}

				&::before {
					content: "";
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid var(--light);
					position: absolute;
					left: 50%;
					top: -7px;
					margin-left: -4px;

					@include show($desktop-nav);
				}

				li {
					padding-left: 0;
					padding-right: 0;
					position: relative;
					line-height: 1.3;

					@media (min-width: $desktop-nav) {
						white-space: nowrap;
					}

					&:hover {
						@media (min-width: $desktop-nav) {
							background: #eee;
							opacity: 1;
						}
					}

					&.current_page_item, &.current-menu-item, &.current_page_ancestor {
						& > a {
							color: var(--theme);
						}
					}

					&.menu-item-has-children {
						& > a {
							padding-right: .5em;
						}
					}
				}

				a {
					font-size: em(16px);
					color: var(--dark);
					padding: .8em 2rem;
					text-transform: none;

					@media (max-width: $mobile-nav-max) {
						padding-left: 3rem;
					}
				}

				// Third level
				ul {
					@media (min-width: $desktop-nav) {
						left: 100%;
						top: 0;
						transform: none;
					}

					&::before {
						display: none !important;
					}

					a {
						@media (max-width: $mobile-nav-max) {
							padding-left: 4rem;
						}
					}

					// Right
					&.right {
						@media (min-width: $desktop-nav) {
							right: 100%;
						}
					}

					// Left
					&.left {
						@media (min-width: $desktop-nav) {
							left: 100%;
							transform: none;
						}
					}
				}

				.subnav-button {
					color: var(--dark);
					margin-right: .2em;

					@media (max-width: $mobile-nav-max) {
						top: .1rem;
						margin-right: 0;
					}

					svg {
						@media (min-width: $desktop-nav) {
							transform: rotate(-90deg);
						}
					}

					path {
						fill: var(--dark);
					}
				}

				// Right
				&.right {
					@media (min-width: $desktop-nav) {
						left: auto;
						right: 0;
						transform: none;

						&::before {
							left: auto;
							right: 3em;
						}
					}
				}

				// Left
				&.left {
					@media (min-width: $desktop-nav) {
						left: 0;
						transform: none;
					}
				}
			}

			@media(min-width: $desktop-nav) and (hover: hover) and (pointer: fine) {
				&:hover {
					& > ul {
						visibility: visible;
						height: auto;
						opacity: 1;
						transition: opacity .2s linear;
					}
				}
			}

			&.hover {
				& > ul {
					visibility: visible;
					height: auto;
					opacity: 1;
					transition: opacity .2s linear;
				}
			}
		}

		// Current page
		&.current_page_item, &.current-menu-item, &.current_page_ancestor {
			& > a > span {
				position: relative;
				text-decoration: underline;
				text-underline-offset: .4em;
			}
		}

		a {
			display: block;
			padding: 1em 0;
			transition: opacity .2s linear;
			color: var(--dark);
			text-decoration: none;
			position: relative;

			@media (min-width: $desktop-nav) {
				color: var(--light);
			}

			&:hover {
				text-decoration: none;
				opacity: .8;
			}

			@media (max-width: $mobile-nav-max) {
				font-size: em(18px);
				padding: 1em 2rem;
			}
		}
	}

	// Nav button
	.nav-button {
		cursor: pointer;
		border: none;
		background: none;
		width: rem(44px);
		height: rem(44px);
		z-index: 2;
		padding: 0;
		position: relative;
		right: em(-4px);

		@include hide($desktop-nav);

		.line {
			display: block;
			position: relative;
			top: 0;
			width: rem(34px);
			height: rem(3px);
			margin: 0 auto;
			margin-bottom: rem(5px);
			background-color: var(--light);
			transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;

			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
	}

	// Sub nav toggle button
	.subnav-button {
		position: absolute;
		right: 1em;
		top: 0.2em;
		width: rem(44px);
		height: rem(44px);
		text-align: center;
		cursor: pointer;
		font-size: em(26px);
		background: none;
		border: none;
		padding: 0;

		@media (min-width: $desktop-nav) {
			position: static;
			width: rem(22px);
			height: rem(22px);
			margin-left: .2em;
			color: var(--light);
		}

		svg {
			display: block;
			margin: 0 auto;
			transition: transform .2s ease-out;

			path {
				fill: var(--dark);

				@media (min-width: $desktop-nav) {
					fill: var(--light);
				}
			}
		}

		&[aria-expanded="true"] {
			svg {
				@media (max-width: $mobile-nav-max) {
					transform: rotate(180deg);
				}
			}
		}
	}

	.social {
		margin-top: 3em;
		text-align: center;
		display: flex;
		justify-content: center;

		@media (min-width: $desktop-nav) {
			margin-top: 0;
			margin-left: 1.5em;
		}

		a {
			color: #fff;
			margin: 0 .5em;
		}
	}
}

// Nav open

html.nav-open {
	@media (max-width: $mobile-nav-max) {
		overflow: hidden;

		.c-navigation {
			& > div {
				transform: none;
				visibility: visible;
			}

			.social {
				path {
					fill: var(--theme);
				}
			}

			.search-button {
				path, circle {
					stroke: var(--theme);
				}
			}
		}

		.c-header {
			& > .inner {
				&::before {
					left: 0;
					opacity: 1;
					visibility: visible;
					transition: opacity .25s linear;
				}
			}

			.nav-button {
				.line {
					background: var(--theme);
					transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;

					&:nth-of-type(1) {
						top: rem(8px);
						transform: rotate(45deg);
					}

					&:nth-of-type(2) {
						opacity: 0;
					}

					&:nth-of-type(3) {
						top: rem(-8px);
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}

// Transition

html.nav-open-transition {
	.c-navigation {
		& > div {
			transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s .5s;
		}
	}

	&.nav-open {
		.c-navigation {
			& > div {
				transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
	}
}
