// Main nav

.c-navigation {
	@include max($mobile-nav-max) {
		display: flex;
		justify-content: flex-end;
	}

	& > ul {
		text-align: right;

		// Mobile
		@include max($mobile-nav-max) {
			position: fixed;
			top: 0;
			right: auto;
			bottom: auto;
			z-index: 1;
			background: $c-theme;
			width: 100%;
			max-width: 90%;
			height: 100%;
			padding-top: em(120px);
			padding-bottom: em(40px);
			margin-right: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			visibility: hidden;
			transform: translateX(100%);
			text-align: center;
		}
	}

	li {
		position: relative;

		@include min($desktop-nav) {
			display: inline-block;
			margin-bottom: 0;
			padding: 0 1em;
		}

		// Parent (has child pages)
		&.menu-item-has-children {
			& > ul {
				display: none;
				padding: 0;
				background: #fff;
				text-align: center;
				position: relative;

				@include min($desktop-nav) {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					border-radius: 5px;
					height: auto !important;
					box-shadow: 0 0 15px rgba(0,0,0,.2);
					background: #fff;
				}

				&:before {
					content: "";
					width: 0; 
					height: 0; 
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
					position: absolute;
					left: 50%;
					top: -7px;
					margin-left: -4px;

					@include show($desktop-nav);
				}

				@include max($mobile-nav-max) {
					display: block;
					height: 0;
					overflow: hidden;
					transition: height .25s ease-out;
				}

				li {
					display: block;
					padding-left: 0;
					padding-right: 0;
					white-space: nowrap;
				}

				a {
					padding: 1em 2em;
				}

				a {
					font-size: em(16px);
					color: $c-theme;
				}
			}

			&:hover, &.hover, &:focus-within {
				@include min($desktop-nav) {
					& > ul {
						display: block;
					}
				}
			}
		}

		&.current_page_item {
			& > a > span {
				position: relative;

				&:after {
					content: "";
					display: block;
					width: 100%;
					border-bottom: 2px solid #fff;
					position: absolute;
					left: 0;
					top: 1.5em;
				}
				
			}
		}
	}

	a {
		display: block;
		padding: 1em 0;
		color: #fff;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}

		@include max($mobile-nav-max) {
			font-size: em(20px);
			padding: 1em 0;
			// color: $c-dark;
		}
	}

	// Nav button
	.nav-button {
		cursor: pointer;
		border: none;
		background: none;
		width: rem(44px);
		height: rem(44px);
		z-index: 2;
		transition: top .2s ease-out;
		margin-right: 1em;

		@include min($desktop-nav) {
			top: em(25px);
		}

		@include hide($desktop-nav);

		.line {
			display: block;
			position: relative;
			top: 0;
			width: 30px;
			height: 3px;
			margin-bottom: 5px;
			background-color: #fff;
			transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;

			&:nth-of-type(3) {
				margin-bottom: 0;
			}
		}
	}

	// Toggle button
	.toggle {
		position: absolute;
		right: 1em;
		top: .3em;
		width: rem(44px);
		height: rem(44px);
		line-height: rem(44px);
		text-align: center;
		cursor: pointer;
		font-size: em(26px);
		background: none;
		border: none;
		color: #fff;

		@include min($desktop-nav) {
			width: rem(10px);
			height: rem(10px);
			right: 0;
			top: 0;
		}

		@include hide($desktop-nav);

		span:nth-of-type(2) {
			display: none;
		}

		&.m-active {
			span:nth-of-type(1) {
				display: none;
			}

			span:nth-of-type(2) {
				display: block;
			}
		}
	}
}

// Nav open

html.m-nav-open {
	overflow: hidden;

	.c-navigation {
		& > ul {
			transform: none;
			visibility: visible;
		}
	}

	.c-header {
		.nav-close {
			left: 0;
			opacity: 1;
			visibility: visible;
			transition: opacity .25s linear;
		}

		.nav-button {
			.line {
				width: rem(26px);
				background: #fff !important;
				transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;

				&:nth-of-type(1) {
					top: 8px;
					transform: rotate(45deg);
				}
				
				&:nth-of-type(2) {
					opacity: 0;
				}
				
				&:nth-of-type(3) {
					top: -8px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

// Transition
html.m-nav-open-transition {
	.c-navigation {
		& > ul {
			transition: opacity .5s linear, transform .5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s .5s;
		}
	}

	&.m-nav-open {
		.c-navigation {
			& > ul {
				transition: opacity .5s linear, transform .5s cubic-bezier(0.19, 1, 0.22, 1);
			}
		}		
	}
}
