// Headings
[class*="wp-block"], .text-block {
	h2, h3 {
		color: var(--c-theme);
		margin-top: 2em;
		line-height: 1.2;
	}
}

// Lists
.wp-block[data-type="core/list"], .text-block {
	ul, ol {
		list-style: none;
		padding-left: 1em;
		margin: 2em 0;

		li {
			position: relative;
			padding-left: 1.5em;
			margin-bottom: .5em;
			line-height: 1.6;
			font-size: em(18px);

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		ul, ol {
			padding-left: 0;
		}
	}

	ul {
		ul, ol {
			list-style: none;
			margin-top: 1em;
		}

		li {
			position: relative;

			&:before {
				top: .5em;
				left: 0;
				width: 8px;
				height: 8px;
				background: var(--c-theme);
				border-radius: 999px;
			}
		}
	}

	ol {
		list-style: none;

		ol {
			counter-reset: counter;
		}

		li {
			counter-increment: counter;
		}

		li:before {
			content: counter(counter)".";
		}
	}
}

// Blocks
[class*="wp-block"]:not([class*="__"]) {
	margin-top: rem(50px);
	margin-bottom: rem(50px);

	@media (min-width: $medium) {
		margin-top: rem(70px);
		margin-bottom: rem(70px);
	}

	&.alignwide {
		max-width: var(--container-wide);
	}

	&.alignfull {
		max-width: var(--container-full);
	}

	[class*="wp-block"]:last-child:not(.wp-block-paragraph) {
		margin-bottom: 0;
	}

	[class*="wp-block"]:first-child {
		margin-top: 0;
	}

	.wp-block-buttons {
		margin-top: 3em;
	}
}

// Image
.wp-block-image {	
	@include container(var(--container-wide));

	img {
		width: 100%;
	}

	figcaption {
		@include caption();
	}
}

// Quote
.wp-block-quote, .wp-block-pullquote {
	text-align: center;
	border: none;

	p {
		color: var(--c-theme);
		font-size: em(32px);
		margin: 1em 0;

		@include container(rem(650px));
	}

	cite, .wp-block-quote__citation {
		font-style: normal;
		text-transform: uppercase;
		font-size: rem(20px);
		color: var(--c-dark);
	}
}

// Columns
.wp-block-columns {
	@include container(var(--container-wide), true);

	@media (max-width: $medium-max) {
		display: block !important;
	}

	.wp-block-column {
		min-width: 0;
		margin-top: 0;
		

		@media (max-width: $medium-max) {
			margin-left: 0;
		}

		@media (min-width: $large) {
			margin-bottom: 0;
		}
	}

	.wp-block-image {
		margin-bottom: 0;
	}

	h2 {
		margin-top: 1em;
	}
}

// Embed
.wp-block-embed {
	@include container(var(--container), true);

	figcaption {
		@include caption();
	}
}

// Table
.wp-block-table {
	overflow-y: hidden;

	@include container(var(--container), true);

	table {
		width: 100%;
		border-collapse: collapse;
	}

	tr:first-child {
		background: var(--c-theme);
		color: #fff;
	}

	td {
		padding: .7em;
		border: none;
		border-bottom: 1px solid #eee;
	}	

	figcaption {
		@include caption();
	}
	
}

// Buttons
.wp-block-buttons {
	margin: 0;

	[class*=wp-block] {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.wp-block-button__link {
		@include button();
	}

	.block-editor-inner-blocks {
		padding: 0;
	}
}

// Group
.wp-block-group {
	text-align: center;

	@include container(var(--container), true);

	p, ul, ol, h2, h3 {
		@include container(var(--container));
	}
}

// File
.wp-block-file {
	@include container(var(--container), true);

	a {
		color: var(--c-dark);
	}

	.wp-block-file__button {
		margin-left: 1.5em;

		@include button();

		@media (max-width: $small-max) {
			margin-top: 1em;
			margin-left: 0;
		}
	}
}

// Media text
.wp-block-media-text {
	@include container(var(--container-wide));

	@media (max-width: $medium-max) {
		display: block;
	}

	p.has-large-font-size {
		font-size: em(18px);
	}

	.wp-block-buttons {
		margin-bottom: 0;
	}

	h2 {

		margin-top: 1em;
	}
}

// Gallery
.wp-block-gallery {
	ul {
		width: 100%;
	}
}

// Cover
.wp-block-cover {
	@include container(var(--container-full));

	p {
		font-size: em(48px);
		line-height: 1.4;
		margin: 0;
	}
}

// Separator
.wp-block-separator {
	background: var(--c-theme);
	border: none;
	height: 2px;
	width: em(250px);
}

// Sample block
.wp-block-fiesta-sample-block, .wp-block-fiesta-sample-block2 {
	text-align: center;
	
	@include container(var(--container), true);
}