// Article view

.c-article-view {
	margin-bottom: em(100px);

	h1 {
		font-size: em(42px);
		font-weight: 400;
		margin-bottom: 1.2em;
		text-align: center;
		line-height: 1.4;

		@include min($medium) {
			font-size: em(58px);
		}
	}

	p:empty {
		display: none;
	}

	.text-block {
		margin-bottom: em(25px);
		max-width: em(800px);

		& + [class*="wp-block"] {
			margin-top: em(50px);

			@include min($medium) {
				margin-top: em(70px);
			}
		}

		a:link, a:visited, a:hover, a:active {
			text-decoration: underline;
		}
	}
}