.c-page-header {
	text-align: center;
	padding: 0 var(--container-padding);
	padding-top: calc(var(--header-height-small) + #{em(50px)});
	margin-bottom: 4em;

	@media (min-width: $desktop-nav) {
		padding-top: calc(var(--header-height) + #{em(50px)});
	}

	h1 {
		font-size: calc(#{em(44px)} + 2vw);
		margin: 0;
	}
}
