@use "abstracts" as *;

.c-search-results {
	margin-bottom: var(--block-margin);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 1rem;
			margin-left: 0;
			margin-bottom: 3em;
			padding-left: 0;
		}
	}

	h2 {
		margin: 0;
		font-size: var(--font-size-2);

		& + p {
			margin-top: 0.5em;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.search-form {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 4em;

		label {
			width: 100%;
		}
	}

	.search-field {
		font-size: var(--font-size-0);
		border: 2px solid var(--theme);
		border-right: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 0.75em 1em;
		width: 100%;
		background: none;
		appearance: none;

		&:focus {
			outline: none;
			border-color: var(--theme);
		}

		&::placeholder {
			opacity: 1;
		}

		&::-webkit-search-cancel-button {
			display: none;
		}
	}

	.search-submit {
		background: var(--theme);
		border: none;
		padding: 0 1em;
		appearance: none;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
