.c-search {
	position: fixed;
	top: calc(var(--header-height) + var(--wp-admin--admin-bar--height, 0px));
	right: 0;
	width: 100%;
	padding: 2em var(--container-padding) 2em var(--container-padding);
	visibility: hidden;
	transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s .5s linear;
	opacity: 0;
	text-align: center;
	z-index: 10;
	background: var(--light);
	display: grid;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	font-size: .6em;

	@media (min-width: $medium) {
		font-size: 1em;
	}

	& > .inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		@include container(em(1000px));
	}

	.close {
		background: none;
		border: none;
		width: em(44px);
		height: em(44px);
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 0 em(44px);
		position: absolute;
		right: 2em;
		top: 2em;
		display: none;

		svg {
			width: 90%;
			height: 90%;
		}
	}

	.search-form {
		display: flex;
		justify-content: center;
		margin-right: 1em;
		width: 100%;

		label {
			width: 100%;
		}
	}

	.search-field {
		font-size: em(36px);
		border: none;
		border-right: none;
		width: 100%;
		background: none;
		-webkit-appearance: none;

		&:focus {
			outline: none;
			border-color: var(--theme);
		}
	}

	.search-submit {
		background: none;
		border: none;
		color: #fff;
		padding: 0 1em;
		-webkit-appearance: none;

		svg {
			width: em(30px);
			height: em(30px);
		}
	}
}

html.search-open {
	.c-search {
		visibility: visible;
		transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1);
		transform: none;
		opacity: 1;
	}
}
