@use "abstracts" as *;

.c-search {
	position: absolute;
	top: var(--header-height);
	right: 0;
	width: 100%;
	padding: 2em var(--container-padding) 2em var(--container-padding);
	visibility: hidden;
	transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s .5s linear;
	opacity: 0;
	text-align: center;
	background: var(--color-theme);
	display: grid;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	font-size: .6em;

	@media (min-width: $medium) {
		font-size: 1em;
	}

	& > .inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 62.5em;
		margin-left: auto;
		margin-right: auto;
	}

	.close {
		background: none;
		border: none;
		padding: 0;
		margin-left: 0.5rem;
		width: 2.75rem;
		height: 2.75rem;
		margin-right: -0.3rem;
	}

	.search-form {
		display: flex;
		justify-content: center;
		width: 100%;

		label {
			width: 100%;
		}
	}

	.search-field {
		font-size: var(--font-size-1);
		border: none;
		border-right: none;
		width: 100%;
		background: none;
		color: var(--color-light);
		appearance: none;

		&:focus {
			outline: none;
			border-color: var(--color-theme);
		}

		&::placeholder {
			opacity: 1;
			color: var(--color-light);
		}

		&::-webkit-search-cancel-button {
			display: none;
		}
	}

	.search-submit {
		background: none;
		border: none;
		color: #fff;
		padding: 0 1em;
		appearance: none;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

html.search-open {
	.c-search {
		visibility: visible;
		transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1);
		transform: none;
		opacity: 1;
	}
}
