@use "abstracts" as *;

.c-share {
	margin: 3em 0;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p {
		text-transform: uppercase;
		color: var(--color-primary);
		font-size: 1em;
		position: relative;
		top: .2em;
		margin: 0 1em 1em 0;
		text-align: center;
	}

	a {
		width: 2.75em;
		height: 2.75em;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--color-primary);
		border-radius: 50%;
		margin: 0 .3em;

		&:hover, &:focus-visible {
			background: var(--color-primary);

			path {
				fill: #fff;
			}
		}
	}
}
