.c-share {
	margin: em(30px) 0;

	@media (min-width: $medium) {
		margin: em(50px) 0;
	}

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p {
		text-transform: uppercase;
		color: var(--theme);
		font-size: em(16px);
		position: relative;
		top: .2em;
		margin: 0 1em 1em 0;
		text-align: center;
	}

	a {
		width: em(44px);
		height: em(44px);
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--theme);
		border-radius: 50%;
		margin: 0 .3em;

		&:hover, &:focus {
			background: var(--theme);

			path {
				fill: #fff;
			}
		}
	}
}
