*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: #fff;
	margin: 0;
	font: 1rem/1 sans-serif;
	// -moz-osx-font-smoothing: grayscale;
	// -webkit-font-smoothing: antialiased;
}

:focus:not(:focus-visible) {
	outline: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
	display: block;
}

button, select, input, textarea {
	font: inherit;
}

sub, sup {
	line-height: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
}

nav ul {
	list-style: none;
}

figure {
	margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
