
// Grid

@mixin row() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin column($value, $props: null) {
	$gutter: gutter-to-pct($default-gutter);
	$block: false;
	$css: true;
	$ratio: ratio-value($value);
	$calc: false;

	@if($props) {
		// Add css properties (internal)
		@if(map-has-key($props, css)) {
			$css: map-get($props, css);
		}
		
		// Gutter
		@if(map-has-key($props, gutter)) {
			$gutter: gutter-to-pct(map-get($props, gutter));
		}

		// Blocks
		@if(map-has-key($props, blocks)) {
			$block: true;

			@include block-props($value, $gutter, $props);
		}

		@if(map-has-key($props, calc)) {
			$calc: map-get($props, calc);
		}

		// Offset
		@if(map-has-key($props, offset)) {
			@include offset(map-get($props, offset), (gutter: $gutter));
		}

		// Push
		@if(map-has-key($props, push)) {
			@include push(map-get($props, push), (gutter: $gutter));
		}

		// Pull
		@if(map-has-key($props, pull)) {
			@include pull(map-get($props, pull), (gutter: $gutter));
		}
	}

	@include column-props($ratio, $gutter, $css, $block, $calc);
}

@mixin column-props($ratio, $gutter, $css, $block, $calc) {
	@if($css) {
		float: left;

		@if($block == false) {
			@include last();
		}
	}

	$width: null;

	@if($calc) {
		$width: column-width-calc($ratio, $gutter)
	}
	@else {
		$width: column-width($ratio, $gutter)
	}

	margin-right: $gutter;
	width: $width;
}

@mixin last() {
	&:last-of-type {
		margin-right: 0;
	}
}

@mixin block($value, $props: null) {
	$new-map: null;

	@if($props) {
		$new-map: map-merge($props, (blocks: $value, css: true));
	}
	@else {
		$new-map: (blocks: $value);
	}
	
	@include column($default-columns / $value, $new-map);
}

@mixin block-props($value, $gutter, $props) {
	$start: 1;

	@if(map-has-key($props, start)) {
		$start: map-get($props, start);
	}

	$n: $default-columns / $value + ($start - 1);

	&:nth-of-type(n) {
		clear: none;
		margin-right: $gutter;
	}

	&:nth-of-type(#{$n}n+#{$start}) {
		clear: both;
	}

	&:nth-of-type(#{$n}n) {
		margin-right: 0;
	}
}

@mixin unblock() {
	&:nth-of-type(n) {
		clear: none;
	}
}

// Offsets

@mixin offset($value, $props: null) {
	$gutter: $default-gutter;

	@if($props) {
		@if(map-has-key($props, gutter)) {
			$gutter: gutter-to-pct(map-get($props, gutter));
		}
	}

	margin-left: column-ratio2($value, gutter-to-pct($gutter));
}

// Order

@mixin push($value, $props: null) {
	$gutter: $default-gutter;

	@if($props) {
		@if(map-has-key($props, gutter)) {
			$gutter: gutter-to-pct(map-get($props, gutter));
		}
	}

	position: relative;
	left: column-ratio2($value, gutter-to-pct($gutter));
}

@mixin pull($value, $props: null) {
	$gutter: $default-gutter;

	@if($props) {
		@if(map-has-key($props, gutter)) {
			$gutter: gutter-to-pct(map-get($props, gutter));
		}
	}

	position: relative;
	right: column-ratio2($value, gutter-to-pct($gutter));
}

// Grid

.row {
	@include row();
}
