// Container

.container {
	@include container-padding();

	@include container(var(--default-container));

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

// Focus

html.focus-visible {
	:focus:not(.focus-visible):not(input):not(textarea):not(select) {
		outline: 0;
	}
}

// Screen reader only

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
