// Container

.container {
	@include container-padding();

	@include container(var(--default-container));

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

// Breakpoints

meta.breakpoints-small-max {
	@include variable($small-max);
}

meta.breakpoints-medium {
	@include variable($medium);
}

meta.breakpoints-medium-max {
	@include variable($medium-max);
}

meta.breakpoints-large {
	@include variable($large);
}

meta.breakpoints-large-max {
	@include variable($large-max);
}

meta.breakpoints-xlarge {
	@include variable($xlarge);
}

// Focus

html.focus-visible {
	:focus:not(.focus-visible):not(input):not(textarea):not(select) {
		outline: 0;
	}
}

// Screen reader only

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
