// Screen size breakpoints (for min-width queries)
$medium: 40em;
$large: 60em;
$xlarge: 75em;
$xxlarge: 120em;

// Screen size breakpoints (for max-width queries).
$small-max: $medium - 0.0625em;
$medium-max: $large - 0.0625em;
$large-max: $xlarge - 0.0625em;

// Navigation breakpoints
$desktop-nav: $large;
$mobile-nav-max: $desktop-nav - 0.0625em;
