// Container

@mixin container($width: var(--default-container), $padding: false) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;

	@if($padding) {
		@include container-padding();
	}
}

@mixin container-padding() {
	box-sizing: content-box;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

// Visibility

@mixin hide($value) {
	@media (min-width: $value) {
		display: none !important;
	}
}

@mixin show($value, $display: block) {
	@media screen {
		display: none;
	}

	@media (min-width: $value) {
		display: $display !important;
	}
}

// Blocks

@mixin block-margin() {
	margin-top: rem(65px);
	margin-bottom: rem(65px);
}

@mixin button() {
	display: inline-block;
	font-size: rem(16px);
	padding: .7em 2em;
	text-transform: uppercase;
	background: var(--theme);
	border: 1px solid var(--theme);
	text-decoration: none;
	margin-bottom: 0;
	color: #fff;
	border-radius: 3px;
	line-height: 1.1;
	cursor: pointer;
	transition: background .2s linear, color .2s linear;

	&:hover {
		filter: brightness(120%);
		text-decoration: none;
	}
}

@mixin caption {
	margin-top: 1.5rem;
	line-height: 1.4;
	text-align: center;
	font-size: 1rem;
	color: var(--dark);
	opacity: .7;
}

// Misc

@mixin variable($value) {
	font-family: "#{$value}";
}

@mixin video-embed($ratio: 56.25%) {
	position: relative;
	padding-bottom: $ratio;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin object-fit() {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	max-width: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	@supports (object-fit: cover) {
		width: 100%;
		height: 100%;
	}
}
