// Container

@mixin container($width: var(--container-wide), $padding: false) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;

	@if($padding) {
		box-sizing: content-box;
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
	}
}

// Blocks

@mixin block-margin() {
	margin-top: var(--block-margin);
	margin-bottom: var(--block-margin);
}

@mixin block-margin-small() {
	margin-top: var(--block-margin-small);
	margin-bottom: var(--block-margin-small);
}

@mixin button() {
	display: inline-block;
	font-size: var(--font-size-0);
	padding: .7em 2em;
	text-transform: uppercase;
	text-decoration: none;
	background: var(--theme);
	border: 1px solid var(--theme);
	color: var(--light);
	border-radius: 3px;
	line-height: 1.1;
	cursor: pointer;
	transition: background .2s linear, color .2s linear;

	&:hover, &:focus {
		background: var(--dark);
		border-color: var(--dark);
		color: var(--light);
	}
}
