:root {
	// Fonts
	--font-regular: "Source Sans Pro", sans-serif;

	// Typography scale
	--font-size-0: clamp(1.13rem, calc(1.10rem + 0.11vw), 1.19rem);
	--font-size-1: clamp(1.27rem, calc(1.21rem + 0.28vw), 1.43rem);
	--font-size-2: clamp(1.42rem, calc(1.32rem + 0.50vw), 1.71rem);
	--font-size-3: clamp(1.60rem, calc(1.45rem + 0.78vw), 2.05rem);
	--font-size-4: clamp(1.80rem, calc(1.57rem + 1.15vw), 2.46rem);
	--font-size-5: clamp(2.03rem, calc(1.70rem + 1.61vw), 2.96rem);
	--font-size-6: clamp(2.28rem, calc(1.84rem + 2.20vw), 3.55rem);
	--font-size-7: clamp(2.57rem, calc(1.98rem + 2.94vw), 4.26rem);
	--font-size-8: clamp(2.89rem, calc(2.11rem + 3.86vw), 5.11rem);

	// Colors
	--theme: #522dd7;
	--dark: #222;
	--light: #fff;
	--gray: #f1f1f1;

	// Header
	--header-height: #{rem(65px)};

	@media (min-width: $desktop-nav) {
		--header-height: #{rem(80px)};
	}

	// Container
	--container: #{rem(750px)};
	--container-wide: #{rem(1200px)};
	--container-padding: max(1.5rem, min(4vw, 5rem));

	// Blocks
	--block-margin: max(#{rem(50px)}, min(6vw, #{rem(75px)}));
	--block-margin-small: #{rem(30px)};
}
