:root {
	// Fonts
	--font-regular: "Source Sans Pro", sans-serif;

	// Colors
	--theme: #522dd7;
	--dark: #222;

	// Misc
	--header-height: #{em(100px)};
	--header-height-small: #{em(65px)};

	// Container
	--default-container: #{rem(1200px)};
	--container: #{rem(750px)};
	--container-wide: #{rem(1100px)};
	--container-padding: 1.5rem;
}

// Screen size breakpoints (for min-width queries)
$medium: em(640px);
$large: em(980px);
$xlarge: em(1200px);
$xxlarge: em(1920px);

// Screen size breakpoints (for max-width queries).
$small-max: $medium - em(1px);
$medium-max: $large - em(1px);
$large-max: $xlarge - em(1px);

// Navigation breakpoints
$desktop-nav: $medium;
$mobile-nav-max: $desktop-nav - em(1px);
