@use "breakpoints" as *;

:root {
	// Fonts
	--font-regular: "Source Sans Pro", sans-serif;

	// Colors
	--theme: #694cd4;
	--dark: #222;
	--light: #fff;
	--gray: #f1f1f1;

	// Header
	--header-height: 4rem;

	@media (min-width: $desktop-nav) {
		--header-height: 5rem;
	}

	// Container
	--container: 47rem;
	--container-wide: 75rem;
	--container-padding: clamp(1.5rem, 4vw, 5rem);

	@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
		--container-padding: 1.5rem;
	}

	// Blocks
	--block-margin: clamp(3rem, 8vw, 6rem);
	--block-margin-medium: clamp(2.5rem, 5vw, 4rem);
	--block-margin-small: 2rem;

	@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
		--block-margin: 3rem;
		--block-margin-medium: 2.5rem;
	}
}
