// Fonts
$f-regular: "Ubuntu", sans-serif;

// Colors
$c-dark: #222;

// Misc
$header-height: em(100px);
$header-height-small: em(60px);

// Container
$container: rem(800px);
$container-wide: rem(1100px);
$container-full: 100%;